<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white">Featured Posts</h2>
                <p class="text-white">passage, and going through the cites of the word </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2> Latest Posts </h2>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>

    </div>
    <div class="row">
        <div class="col-md-4 mt-3">
            <app-post-card>
                 
            </app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card>
                 
            </app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card>
                 
            </app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card>
                 
            </app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card>
                 
            </app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card>
                 
            </app-post-card>
        </div>
    </div>
</section>