<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">About Us</h1> 
        <div class="mt-4 p-5 bg-secondary-theme text-theme-primary">
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum impedit et harum consequuntur, libero sit similique qui, eius doloribus, quasi non nemo mollitia. Ab excepturi cupiditate similique unde, optio suscipit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum impedit et harum consequuntur, libero sit similique qui, eius doloribus, quasi non nemo mollitia. Ab excepturi cupiditate similique unde, optio suscipit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum impedit et harum consequuntur, libero sit similique qui, eius doloribus, quasi non nemo mollitia. Ab excepturi cupiditate similique unde, optio suscipit.</p>
       <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
       </div>
        </div>
    </div>

</section>