<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/1595649/pexels-photo-1595649.jpeg" alt="Painting.img" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views 100,100</small>

        <h5 class="mt-1">HOw to start a blog</h5>
        
        <p>Lorem Ipsum is simply dummy text of the printing and when an unknown printer took a galley</p>
        <small class="bg-light text-warning text-center ">last update 2013</small>
    </div>
</div>
